<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>FELD_</title>
  </head>
  <body>
    <script type="module">
     document.addEventListener('DOMContentLoaded', function() {
       feld({
         rootUrl: '<%= apiUrl %>',
         progressionId: <%= progressionId %>
       })
     })
    </script>
  </body>
</html>
